@model IEnumerable<MacroTracker.Models.Food>



@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>

<p>
    What'd you have to eat? Nom Nom

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FoodName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarbGrams)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatGrams)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProteinGrams)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinGrams)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FoodId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FoodId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FoodId })
                    @Html.ActionLink("I Had This!", "Index")
                </td>
            </tr>
        }
    </table>



