@model MacroTracker.Models.FoodListViewModel


@{
    ViewBag.Title = "Index";
}


<h2>What'd you have to eat?  NOM NOM NOM</h2>

@*//Link to Add new food to list*@

@Html.ActionLink("Add a new food", "Create", "Food", null, new { @class = "btn btn-primary btn-large" })

<p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Food Name
                </th>
                <th>
                    Carb Grams
                </th>
                <th>
                    Fat Grams
                </th>
                <th>
                    Protein Grams
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model.Foods)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarbGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FatGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProteinGrams)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FoodId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FoodId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FoodId }) |
                    @Html.ActionLink("I had this!", "Index", "FoodsConsumed")
                </td>
            </tr>
        }
    </table>



