@model IEnumerable<MacroTracker.Models.Food>
using MacroTracker.Models.Food;


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    What'd you have to eat??

    @*public static IEnumerable<Food>
        Foods = new List<Food>
            {
            new Food { FoodId = 1, FoodName = "Avocado", FatGrams = 30.1, ProteinGrams = 3.3, CarbGrams = 4 },
            new Food { FoodId = 2, FoodName = "Greek Yogurt", FatGrams = 0, ProteinGrams = 25, CarbGrams = 5 },
            new Food { FoodId = 3, FoodName = "Small Chicken Breast", FatGrams = 0.8, ProteinGrams = 22.5, CarbGrams = 4.1 },
            new Food { FoodId = 4, FoodName = "Banana", FatGrams = 2, ProteinGrams = 1.2, CarbGrams = 35.2 },
            new Food { FoodId = 5, FoodName = "Pirate Booty", FatGrams = 0, ProteinGrams = 1.1, CarbGrams = 7}

            };


            @Html.DropDownListFor(model => model.Foods, new SelectList("FoodName", "FatGrams", "ProteinGrams"))*@


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FoodName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CarbGrams)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FatGrams)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProteinGrams)
                        </th>
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FoodName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarbGrams)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FatGrams)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProteinGrams)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.FoodId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.FoodId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.FoodId })
                        </td>
                    </tr>
                }
            </table>



