@model MacroTracker.Models.FoodsConsumedListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Here's What you had to eat today:</h2>

<p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Food Name
                </th>
                <th>
                    Carb Grams
                </th>
                <th>
                    Fat Grams
                </th>
                <th>
                    Protein Grams
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model.FoodsEaten)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumedFoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumedCarbGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumedFatGrams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumedProteinGrams)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FoodsConsumedId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FoodsConsumedId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FoodsConsumedId })
                </td>
            </tr>
        }
    </table>
